---
import { cn } from "$lib/utils";
import type { AccentName } from "@catppuccin/palette";
import type { HTMLAnchorAttributes } from "svelte/elements";

interface Props extends HTMLAnchorAttributes {
  accent?: AccentName | "accent";
  coloured?: boolean;
}

const {
  accent = "accent",
  coloured = false,
  class: clazz,
  ...rest
} = Astro.props;
---

<a
  class={cn(
    `border-muted hover:border-${accent} border-b-2 no-underline not-prose font-medium transition-colors duration-200 inline-block leading-tight`,
    coloured ? `text-${accent}` : `hover:text-${accent}`,
    clazz,
  )}
  {...rest}
>
  <slot />
</a>
