---
import Newt from "$lib/components/Newt.svelte";
import Cat from "$lib/components/nav/Cat.svelte";
import Theme from "$lib/components/nav/Theme.svelte";

interface Props {
  slug?: string[];
  title?: string;
}

let { slug = [], title } = Astro.props;
if (title) {
  slug.pop();
  slug.push(title);
}

const origin = Astro.url?.origin ?? "";
function buildSegmentHref(index: number): string {
  if (!slug || slug.length === 0) return origin + "/";
  const path = "/" + slug.slice(0, index + 1).join("/");
  return origin + path;
}
---

<div class="flex items-center gap-4 font-mono text-xl">
  <Cat client:load />

  <div class="flex gap-1">
    <a href="/"><Newt client:load /></a>
    {
      slug?.map((segment, i) => (
        <span class={i !== 0 ? "hidden sm:inline" : ""}>
          <span>/</span>
          {i === slug.length - 1 ? (
            <span class="text-muted-foreground">{segment}</span>
          ) : (
            <a href={buildSegmentHref(i)}>{segment}</a>
          )}
        </span>
      ))
    }
  </div>
</div>

<div class="flex items-center gap-8">
  <ul class="flex gap-2 md:gap-6 md:text-lg">
    <li><a href="/projects">projects</a></li>
    <li><a href="/writing" data-astro-prefetch>writing</a></li>
    <li><a href="/friends" data-astro-prefetch>friends</a></li>
  </ul>
  <Theme client:load />
</div>

<style>
  @reference "$styles/global.css";

  a {
    @apply hover:text-accent;
  }
</style>
