---
import Accent from "$lib/components/Accent.svelte";
import Cat from "$lib/components/nav/Cat.svelte";
import Theme from "$lib/components/nav/Theme.svelte";
---

<div class="flex items-center gap-4">
  <a class="title" href="/">
    <Accent class="flex flex-col" client:only="svelte">
      <span>newt's</span>
      <span>nook</span>
    </Accent>
  </a>
  <Cat client:only="svelte" />
</div>

<div>
  <Theme client:load />
</div>

<style>
  @reference "tailwindcss";

  .title {
    @apply flex flex-col text-right text-xl font-bold sm:text-2xl md:text-3xl;
  }
</style>
