---
import Commit from "$lib/components/footer/Commit.astro";
import { Icon } from "astro-icon/components";
---

<div class="text-muted-foreground has-prose container **:my-0">
  <div>
    <p class="has-icon">
      made with <Icon
        name="mdi:heart"
        class="hover:text-red hover:cursor-pointer"
      /> by newt
    </p>
    <ul class="not-prose flex gap-2">
      <li>
        <a href="/rss.xml"><Icon name="mdi:rss" /> rss</a>
      </li>
    </ul>
  </div>
  <div class="justify-self-end">
    <Commit />
  </div>
</div>

<style>
  @reference "tailwindcss";

  .container {
    @apply mx-auto grid max-w-xs grid-cols-2 lg:max-w-3xl xl:max-w-5xl;
  }

  li > a,
  .has-icon {
    @apply flex items-center gap-1;
  }
</style>
