---
import Commit from "$lib/components/footer/Commit.astro";
import { Icon } from "astro-icon/components";
import Newt from "$lib/components/Newt.svelte";
---

<div class="has-prose container">
  <div>
    <p class="has-icon">
      made with <Icon
        name="mdi:heart"
        class="hover:text-red hover:cursor-pointer"
      /> by <Newt client:visible />
    </p>
    <ul class="not-prose flex gap-2">
      <li>
        <a href="/rss.xml"><Icon name="mdi:rss" /> rss</a>
      </li>
    </ul>
  </div>
  <div class="justify-self-end">
    <Commit />
  </div>
</div>

<style>
  @reference "$styles/global.css";

  .container {
    @apply xs:max-w-md text-muted-foreground mx-auto grid max-w-xs grid-cols-2 **:my-0 sm:max-w-xl md:max-w-3xl lg:max-w-4xl xl:max-w-6xl;
  }

  li > a,
  .has-icon {
    @apply flex items-center gap-1;
  }

  a {
    @apply hover:text-accent;
  }
</style>
