---
import Commit from "$components/footer/Commit.astro";
import Accent from "$components/Accent.svelte";
import type { Links } from "$lib/data";

const LINKS: Links = {
  rss: {
    href: "/rss.xml",
    icon: "mdi--rss",
  },
};
---

<div class="has-prose container">
  <div>
    <p class="has-icon">
      made with <span
        class="iconify mdi--heart hover:text-red hover:cursor-pointer"></span> by
      <Accent class="font-medium" client:visible>newt</Accent>
    </p>
    <ul class="not-prose flex gap-2">
      <li>
        {
          Object.entries(LINKS).map(([name, { href, icon }]) => (
            <a {href}>
              {icon ? <span class={`iconify ${icon}`} /> : null} {name}
            </a>
          ))
        }
      </li>
    </ul>
  </div>
  <div class="justify-self-end">
    <Commit />
  </div>
</div>

<style>
  @reference "$styles/global.css";

  .container {
    @apply xs:max-w-md text-muted-foreground mx-auto grid max-w-xs grid-cols-2 **:my-0 sm:max-w-xl md:max-w-3xl lg:max-w-4xl xl:max-w-6xl;
  }

  a {
    @apply hover:text-accent;
  }

  li > a,
  .has-icon {
    @apply flex items-center gap-1;
  }
</style>
