---
import Button from "$components/ui/button/button.svelte";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import catppuccin from "$img/catppuccin.webp";
---

<div class="my-2 flex gap-4 select-none">
  <Button
    variant="ctp"
    size="icon"
    href="https://ctp-webr.ing/newt/previous"
    aria-label="Previous"
    client:visible
  >
    <Icon name="mdi:arrow-left" />
  </Button>
  <Button
    variant="ctp"
    href="https://ctp-webr.ing"
    target="_blank"
    client:visible
  >
    <span class="flex items-center gap-2">
      <Image
        src={catppuccin}
        alt="catppuccin logo"
        class="m-0 h-6 w-6"
        loading="lazy"
      />
      <span class="text-base">catppuccin webring :3</span>
    </span>
  </Button>
  <Button
    variant="ctp"
    size="icon"
    href="https://ctp-webr.ing/newt/next"
    aria-label="Next"
    client:visible
  >
    <Icon name="mdi:arrow-right" />
  </Button>
</div>
