---
import { cn } from "$lib/utils";
import { Image } from "astro:assets";

interface Props {
  name: string;
  href?: string;
  class?: string;
}

const { name, href, class: clazz } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "$img/friends/*.webp",
  { eager: true },
);
const path = Object.keys(images).find((key) => key.includes(name));

if (!path) {
  throw new Error(`Image not found: ${name}.webp`);
}

const image = await import(path);
---

<a href={href} class={cn("inline-block", clazz)}>
  <Image src={image} alt={name} class="m-0" />
</a>
