@import "tailwindcss";
@config "../../tailwind.config.ts";

/* todo: why is tailwindcss not respecting ts aliases? */
@import "./icons.css";
@import "./links.css";
@import "./theme.css";
@import "./typography.css";

/* override media query for dark mode to support all flavors of catppuccin */
@custom-variant dark (&:where(.frappe, .frappe *, .macchiato, .macchiato *, .mocha, .mocha *, .));

::selection {
  @apply bg-mauve text-background;
}

body {
  @apply bg-background text-foreground;
  @apply flex min-h-screen min-w-full flex-col;
}

.container {
  @apply min-w-full px-24 py-8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

hr {
  @apply hover:text-accent text-muted rounded-lg border-2 transition-colors duration-200;
}

blockquote {
  @apply border-muted text-foreground font-normal;
}

/* inline classes */

/* RepoStats.svelte */
/* prettier-ignore */
@source inline("bg-{rosewater,flamingo,pink,mauve,red,maroon,peach,yellow,green,teal,sky,sapphire,blue,lavender,text}");

/* Accent.astro (text) + Webring.astro (bg) */
/* prettier-ignore */
@source inline("hover:{text,bg}-{rosewater,flamingo,pink,mauve,red,maroon,peach,yellow,green,teal,sky,sapphire,blue,lavender}");

/* select-trigger.svelte */
/* prettier-ignore */
@source inline("{hover,aria-expanded}:border-{rosewater,flamingo,pink,mauve,red,maroon,peach,yellow,green,teal,sky,sapphire,blue,lavender}");
