@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "@iconify/tailwind4" {
  prefixes: mdi, simple-icons, catppuccin;
}

@import "tw-animate-css";

@import "$styles/theme.css";
@import "$styles/prose.css";

/* override media query for dark mode so my theme selector works */
@custom-variant dark (&:where(.frappe, .frappe *, .macchiato, .macchiato *, .mocha, .mocha *, .));

/* inline accent classes */
/* prettier-ignore */
@source inline("{text,border,bg}-{rosewater,flamingo,pink,mauve,red,maroon,peach,yellow,green,teal,sky,sapphire,blue,lavender,text}");
/* prettier-ignore */
@source inline("hover:{border,bg}-{rosewater,flamingo,pink,mauve,red,maroon,peach,yellow,green,teal,sky,sapphire,blue,lavender,text}");

::selection {
  background-color: var(--catppuccin-color-mauve);
  color: var(--catppuccin-color-mantle);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground flex min-h-screen flex-col;
  }

  img {
    @apply select-none;
  }

  ul.icons {
    @apply flex items-center gap-2;
  }

  ul.icons > li,
  ul.icons > * > li {
    @apply flex items-center gap-2 font-mono text-lg sm:text-xl md:text-2xl;
  }

  hr {
    @apply hover:border-accent !my-8 border-1 transition-colors duration-200;
  }
}
