/* todo: why is tailwindcss not respecting ts aliases? */
@import "./base.css";
@import "./icons.css";

/* override media query for dark mode to support all flavors of catppuccin */
@custom-variant dark (&:where(.frappe, .frappe *, .macchiato, .macchiato *, .mocha, .mocha *, .));

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

blockquote {
  @apply border-muted text-foreground font-normal;
}

/* inline classes */

/* RepoStats.svelte */
/* prettier-ignore */
@source inline("bg-{rosewater,flamingo,pink,mauve,red,maroon,peach,yellow,green,teal,sky,sapphire,blue,lavender,text}");

/* Accent.astro (text) + Webring.astro (bg) */
/* prettier-ignore */
@source inline("hover:{text,bg}-{rosewater,flamingo,pink,mauve,red,maroon,peach,yellow,green,teal,sky,sapphire,blue,lavender}");

/* select-trigger.svelte */
/* prettier-ignore */
@source inline("{hover,aria-expanded}:border-{rosewater,flamingo,pink,mauve,red,maroon,peach,yellow,green,teal,sky,sapphire,blue,lavender}");
