@plugin "@tailwindcss/typography";
@import "@catppuccin/tailwindcss/typography.css";

@theme inline {
  --font-sans: "Outfit Variable", sans-serif;
  --font-mono: "Maple Mono", monospace;
  --font-heading: "Nunito Variable", sans-serif;
}

.prose {
  @apply prose-catppuccin;
}

main {
  @apply prose prose-catppuccin prose-p:text-lg prose-headings:mb-2! min-w-full;
}
