@plugin "@tailwindcss/typography";
@import "@catppuccin/tailwindcss/typography.css";

@import "@fontsource-variable/outfit";
@import "@fontsource-variable/nunito";
@import "@fontsource/maple-mono/400.css"; /* regular */
@import "@fontsource/maple-mono/500.css"; /* medium  */
@import "@fontsource/maple-mono/700.css"; /* bold    */

@theme inline {
  --font-sans: "Outfit Variable", sans-serif;
  --font-mono: "Maple Mono", monospace;
  --font-heading: "Nunito Variable", sans-serif;
}

.prose {
  @apply prose-catppuccin;
}

main {
  @apply prose prose-catppuccin prose-p:text-lg prose-headings:mb-0! min-w-full;
}
