---
import Page from "$page";
import { Image } from "astro:assets";
import dog from "$img/404.webp";
import { Button } from "$components/ui/button";
---

<Page title={["404"]} titleClass="text-red">
  <div class="flex flex-col items-center">
    <Image
      src={dog}
      alt="A dog digging a hole, leading to nothing."
      class="w-xl rounded-lg select-none"
    />
    <h1>Page not found!</h1>
    <div class="mt-4 flex gap-8 *:hover:cursor-pointer">
      <Button variant="secondary" onclick="history.back()">Go back</Button>
      <Button onclick="window.location.href = '/'">Go home</Button>
    </div>
  </div></Page
>
