---
import Page from "$page";
import Accent from "$components/Accent.svelte";
import Link from "$components/Link.astro";
import Song from "$components/about/Song.svelte";
import { AGE } from "$lib/data";
import fpwe from "$img/fpwe.webp";
import { Image } from "astro:assets";
---

<Page>
  <h1>Hey, I'm <Accent client:load>newt</Accent></h1>

  <p>
    I'm a {AGE}-year-old student from the UK. I'm in my second year of
    university, working towards a BSc (Hons) in Computer Science.
  </p>

  <p>
    I love music, programming, and video games! My favourite album is
    <Link colour="sky" href="https://soundcloud.com/underscores/sets/wsk">
      Wallsocket
    </Link>
    by
    <Link href="https://soundcloud.com/underscores">underscores</Link>, my
    favourite programming language is
    <Link colour="maroon" href="https://www.rust-lang.org/">Rust</Link>, and my
    favourite video game is
    <Link colour="green" href="https://www.minecraft.net">Minecraft</Link>.
  </p>

  <div class="my-8">
    <Song client:load />
  </div>

  <p>
    I'm a member of the
    <Link colour="lavender" href="https://github.com/lavenderstones">
      LavenderStones
    </Link>
    jam team. You can play our most recent game,
    <span class="font-semibold">Fast Paced Working Environment</span> on itch.io
    <Link href="https://isitreallyalive.itch.io/fast">here</Link> and check out the
    code on GitHub
    <Link href="https://github.com/lavenderstones/fpwe">here</Link>.
  </p>

  <Image src={fpwe} alt="Fast Paced Working Environment" />
</Page>

<style>
  @reference "$styles/global.css";

  a {
    @apply font-medium;
  }
</style>
