---
import Page from "$page";
import Accent from "$components/Accent.svelte";
import { AGE, SOCIALS } from "$lib/data";
import { Icon } from "astro-icon/components";
---

<Page>
  <h1>Welcome!</h1>
  <p>
    Hey, I'm <Accent client:load>newt</Accent> (he/they), a {AGE}-year-old from
    the UK. I'm in my second year of university, working towards an MSci (Hons)
    in Computer Science.
  </p>
  <ul class="not-prose icons">
    {
      Object.entries(SOCIALS).map(([name, { href, class: clazz }]) => (
        <li>
          <a class={clazz} {href}>
            <Icon {name} />
          </a>
        </li>
      ))
    }
  </ul>
</Page>
