---
import { GITHUB_PROFILE } from "$data";
import { cn } from "$utils";
import Page from "$page";
import bert from "$img/bert.webp?url";
import Skin from "$components/skin";

const YEAR_MS = 3.15576e10; // using a year of 365.25 days (because leap years)
const BIRTHDAY = new Date("2006-06-06");
const AGE = Math.floor((new Date().getTime() - BIRTHDAY.getTime()) / YEAR_MS);

interface Social {
  href: string;
  class: string;
}

const SOCIALS: Record<string, Social> = {
  "mdi--github": {
    href: GITHUB_PROFILE,
    class: "hover:text-black dark:hover:text-white",
  },
  "simple-icons--kofi": {
    href: "https://ko-fi.com/isitreallyalive",
    class: "hover:text-peach",
  },
};
---

<Page>
  <h1>Welcome!</h1>
  <p>
    <span class="text-red font-medium">Important!</span> This website is currently
    under construction. Expect things to be broken, or rough around the edges.
  </p>

  <article class="grid grid-cols-3">
    <div class="col-span-2">
      <p>
        I'm newt (he/they), a {AGE}-year-old from the UK. I'm in my second year
        of university, studying towards an MSci (Hons) in Computer Science. Most
        of my time programming has been spent building various tools in <a
          href="https://www.rust-lang.org/"
          class="text-maroon">Rust</a
        >, but I am also interested in compiler design and game development.
      </p>

      <p>
        Outside of programming, my biggest interests are music, video games, and <a
          href={bert}
          class="text-red">bert</a
        >. My favourite album is <a
          href="https://soundcloud.com/underscores/sets/wsk"
          class="text-sky">Wallsocket</a
        > by underscores, and my favourite video game is split between <a
          href="https://www.minecraft.net/"
          class="text-green">Minecraft</a
        > or <a href="https://terraria.org/" class="text-teal">Terraria</a> - quite
        a few of my personal projects are related to one of these in some way. For
        example, I've been working on a Minecraft server implementation in Rust which
        I call <a href="/projects/beacon">beacon</a> - right now it's a one person
        project, but contributions are, as always, very welcome!
      </p>

      <p>
        Me and a few friends are working on <span class="text-mauve font-medium"
          >amethyst</span
        >, what we believe to be the next generation of game server hosting. If
        you feel you've got something you can bring to the table, or just want
        to find out more, we'd love to hear from you!
      </p>

      <ul class="not-prose flex gap-3">
        {
          Object.entries(SOCIALS).map(([icon, { href, class: clazz }]) => (
            <li>
              <a {href} class={clazz} target="_blank">
                <span class={cn("iconify size-6", icon)} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <Skin player="newt" height={250} class="justify-self-center" walking />
  </article>
</Page>
