---
import { GITHUB_PROFILE } from "$data";
import { cn } from "$utils";
import Page from "$page";
import bert from "$img/bert.webp?url";
import Skin from "$components/skin";

const YEAR_MS = 3.15576e10; // using a year of 365.25 days (because leap years)
const BIRTHDAY = new Date("2006-06-06");
const AGE = Math.floor((new Date().getTime() - BIRTHDAY.getTime()) / YEAR_MS);

interface Social {
  href: string;
  class: string;
}

const SOCIALS: Record<string, Social> = {
  "mdi--github": {
    href: GITHUB_PROFILE,
    class: "hover:text-black dark:hover:text-white",
  },
  "simple-icons--kofi": {
    href: "https://ko-fi.com/isitreallyalive",
    class: "hover:text-peach",
  },
};
---

<Page>
  <h1>Welcome!</h1>

  <article class="grid grid-cols-3">
    <div class="col-span-2">
      <p>
        Hey, I'm newt (he/they), a {AGE}-year-old from the UK. I'm in my second
        year of university, studying towards an MSci (Hons) in Computer Science.
      </p>

      <p>
        I love music, programming, video games, and <a
          href={bert}
          class="text-red">bert</a
        >. My favourite album is <a
          href="https://soundcloud.com/underscores/sets/wsk"
          class="text-sky">Wallsocket</a
        > by underscores, my favourite programming language is <a
          href="https://www.rust-lang.org/"
          class="text-maroon">Rust</a
        >, and my favourite video game is either <a
          href="https://www.minecraft.net/"
          class="text-green">Minecraft</a
        > or <a href="https://terraria.org/" class="text-teal">Terraria</a>.
      </p>

      <ul class="not-prose flex gap-2">
        {
          Object.entries(SOCIALS).map(([icon, { href, class: clazz }]) => (
            <li>
              <a {href} class={clazz} target="_blank">
                <span class={cn("iconify size-6", icon)} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <Skin player="newt" height={250} class="justify-self-center" walking />
  </article>
</Page>
