---
import Page from "../Page.astro";
import Newt from "$lib/components/Newt.svelte";

const age = new Date().getFullYear() - 2006;
---

<Page>
  <h1>Welcome!</h1>
  <p>
    Hey, I'm <Newt client:load bold={false} /> - I'm a {age}-year-old from the
    UK, and I go by he/they.
  </p>
</Page>
