<div
  class="bg-ctp-base ease-on-out relative max-w-sm transform overflow-hidden rounded-lg p-6 shadow-lg transition duration-700 hover:-translate-y-2"
>
  <div class="absolute top-0 right-0 m-6">
    <span
      class="bg-ctp-primary-200 text-ctp-primary-900 inline-flex items-center rounded-full px-3 py-1 text-sm font-medium"
    >
      v4.0
    </span>
  </div>
  <div class="mb-8">
    <h3 class="text-ctp-primary text-2xl font-semibold">production-ready</h3>
    <p class="text-ctp-text mt-4">
      Unlock the beautify of Catppuccin using your favourite CSS framework.
    </p>
  </div>
  <ul class="text-ctp-subtext1 mb-8 space-y-4">
    <li class="flex items-center">
      <svg
        class="text-ctp-green mr-2 h-6 w-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 13l4 4L19 7"></path>
      </svg>
      <span>4 beautiful flavours</span>
    </li>
    <li class="flex items-center">
      <svg
        class="text-ctp-green mr-2 h-6 w-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 13l4 4L19 7"></path>
      </svg>
      <span>14 accent colour</span>
    </li>
    <li class="flex items-center">
      <svg
        class="text-ctp-green mr-2 h-6 w-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 13l4 4L19 7"></path>
      </svg>
      <span>11 shades per accent colour</span>
    </li>
  </ul>

  <a
    href="#"
    class="from-ctp-secondary-400 to-ctp-primary-600 hover:from-ctp-secondary-300 hover:to-ctp-primary-500 text-ctp-base dark:text-ctp-crust block w-full rounded-md bg-linear-200 px-6 py-3 text-center font-medium transition duration-300"
  >
    Get Started
  </a>
</div>
