---
import Page from "$page";
import { getCollection } from "astro:content";
import Project from "$components/projects/Project.svelte";

const projects = await getCollection("projects");
---

<Page>
  <h1>Projects</h1>
  <p>Here's a bunch of things I've built.</p>
  <div class="mt-8 grid gap-8 sm:grid-cols-2">
    {projects.map((data) => <Project client:visible {...data} />)}
  </div>
</Page>
