---
import Nav from "$lib/components/nav/Nav.astro";
import mocha from "@catppuccin/tailwindcss/mocha.css?url";

import "$styles/global.css";
---

<html lang="en">
	<head>
		<!--
			load fonts
				- nunito sans (variable)
				- sora (variable)
				- cascadia code (400)
		-->
		<link rel="preconnect" href="https://api.fonts.coollabs.io" crossorigin>
   		<link rel="dns-prefetch" href="https://api.fonts.coollabs.io">
		<link href="https://api.fonts.coollabs.io/css2?family=Cascadia+Code&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sora:wght@100..800&display=swap"
          rel="stylesheet">

		<!-- preload mocha because we'll probably want it -->
		<link rel="preload" as="style" href={mocha} />

		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav>
			<Nav />
		</nav>
        <main>
            <slot />
        </main>
	</body>
</html>
